<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alpha.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
				<key>dateExpires</key>
				<string>24/04/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YouTubePlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>94CED25E0D519C211803BE03484117E0A7C69648</string>
						<key>dateExpires</key>
						<string>24/04/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>98QVBSCCR6</string>
						<key>name</key>
						<string>Alpha Project LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>98QVBSCCR6.co.alpha</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>98QVBSCCR6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Alpha.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b2bb89c8-c88b-4cfa-aead-595da6d94a72</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: co.alpha</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>98QVBSCCR6</string>
				<key>name</key>
				<string>Alpha Project LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
